body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background-color: #0d1117;
  color: white;
}

.app-header {
  background-color: #161b22;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.app-header a:hover {
  color: #58a6ff;
  text-decoration: underline;
}


.app-header a:visited {
  color: white;
}


.app-main {
  padding: 2rem;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1.5rem;
}

.movie-card {
  background-color: #21262d;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.movie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  gap: 5px;
}

a, a:visited, a:active {
  color: white;
  text-decoration: none;
}


.movie-card a,
.movie-card a:visited,
.movie-card a:active {
  color: white;
  text-decoration: none;
}

.fav-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: gold;
  text-decoration: none !important;
  transition: transform 0.2s ease;
}

.fav-btn:hover {
  transform: scale(1.2);
  text-decoration: none !important;
}

.logo-link {
  color: white;
  text-decoration: none;
}

.logo-link:hover {
  color: #58a6ff;
  text-decoration: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: block;
  text-decoration: none;
  color: inherit;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.hero:hover img {
  opacity: 0.7;
}

.hero-text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  max-width: 60%;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.4;
}
